/* From Uiverse.io by Shoh2008 */ 
.loader-wrap{
  position: fixed;
  inset: 0;               /* top:0; right:0; bottom:0; left:0 */
  display: flex;
  align-items: center;    /* vertical center */
  justify-content: center;/* horizontal center */
  pointer-events: none;   /* optional: lets clicks pass through the loader */
  background: transparent;/* optional: use rgba(...) to dim background */
  z-index: 9999;          /* ensure it's on top */
}

/* From Uiverse.io by 20essentials */ 
.container-loader {
  --size: 300px;
  width: var(--size);
  height: var(--size);
  position: relative;
  zoom: 0.5;
  transform: translateX(-50%);

  .ball {
    position: absolute;
    width: calc(var(--size) + var(--i));
    height: calc(var(--size) + var(--i));
    background-color: var(--color);
    border-radius: 50%;
    animation: move 5s linear infinite;
    transform-origin: var(--size);
    mix-blend-mode: hard-light;
    animation-duration: var(--d);
    filter: blur(58px);

    &:nth-child(even) {
      animation-direction: reverse;
    }
  }
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
