

.loader-header {
  text-align: center;
  color: #333;
  font-family: Arial, sans-serif;
  margin-bottom: 500px; /* Adds some space between the header and loader */
}


.container {
        /* Uiverse conic background + variables */
        width: 100%;
        height: 100%;
        --s: 160px; /* tile size */
        --c1: #ff847c;
        --c2: #e84a5f;
        --c3: #fecea8;
        --c4: #99b898;

        background: conic-gradient(
                from 45deg at 75% 75%,
                var(--c3) 90deg,
                var(--c1) 0 180deg,
                #0000 0
            ),
            conic-gradient(from -45deg at 25% 25%, var(--c3) 90deg, #0000 0),
            conic-gradient(from -45deg at 50% 100%, #0000 180deg, var(--c3) 0),
            conic-gradient(
                from -45deg,
                var(--c1) 90deg,
                var(--c2) 0 225deg,
                var(--c4) 0
            );
        background-size: var(--s) var(--s);

        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
        padding: 2rem;
        box-sizing: border-box;
    }

/* From Uiverse.io by Shoh2008 */

.loader-wrap{
  position: fixed;
  inset: 0;               /* top:0; right:0; bottom:0; left:0 */
  display: flex;
  align-items: center;    /* vertical center */
  justify-content: center;/* horizontal center */
  pointer-events: none;   /* optional: lets clicks pass through the loader */
  background: transparent;/* optional: use rgba(...) to dim background */
  z-index: 9999;          /* ensure it's on top */



}

/* From Uiverse.io by 20essentials */ 
.container-loader {
  --size: 300px;
  width: var(--size);
  height: var(--size);
  position: relative;
  zoom: 0.5;
  transform: translateX(-50%);

  .ball {
    position: absolute;
    width: calc(var(--size) + var(--i));
    height: calc(var(--size) + var(--i));
    background-color: var(--color);
    border-radius: 50%;
    animation: move 5s linear infinite;
    transform-origin: var(--size);
    mix-blend-mode: hard-light;
    animation-duration: var(--d);
    filter: blur(58px);

    &:nth-child(even) {
      animation-direction: reverse;
    }
  }
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
